{{ define "forgot_password" }}
{{ template "header" . }}

<div class="container">
  <div class="row row--center row--alignCenter Login">
    <div class="col sm-col--1of2">
      <div class="row">
        <div class="col Forgo_Email__title">
          <h1>Request new password</h1>
        </div>
        <div class="col Forgot_Email__form">
          <form class="ForgoPasswordForm" action="/forgot_password" method="POST" accept-charset="UTF-8">
            <div class="row row--gutters">
              <div class="col">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" value="" placeholder="Your email">
              </div>
            </div>
            <div class="row row--gutters row--center">
              <div class="col col--1of3">
                <input type="submit" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
{{ end }}
