{{define "header"}}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Golang Test - 2017</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
{{end}}
