{{ define "login" }}
{{template "header" . }}

<div class="container">
  <div class="row row--center row--alignCenter Login">
    <div class="col sm-col--1of2">
      <div class="row">
        <div class="col error-msg"></div>
        <div class="col success-msg"></div>
        <div class="col Login__title">
          <h1>Login</h1>
        </div>
        <div class="col Login__form">
          <form class="LoginForm" action="/login" method="POST" accept-charset="UTF-8">
            <div class="row row--gutters">
              <div class="col">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" value="" placeholder="Your email">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" value="" placeholder="Your password">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <a href="/forgot_password">Forgot email?</a>
              </div>
            </div>
            <div class="row row--gutters row--between">
              <div class="col col--1of3">
                <input type="submit" value="Login">
              </div>
              <div class="col col--1of3">
                <a href="/signup">Signup</a>
              </div>
            </div>
            <div class="row row--gutters row--center">
                <div class="col col--1of3">
                  <a href="/google_login">Login with Google</a>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
{{ end }}
