{{ define "profile" }}
{{ template "header" . }}

<div class="container">
  <div class="row row--center row--alignCenter Login">
    <div class="col sm-col--1of2">
      <div class="row">
        <div class="col error-msg"></div>
        <div class="col success-msg"></div>
        <div class="col Profile__title">
          <h1>Profile</h1>
        </div>
        <div class="col Profile__form">
          <form class="ProfileForm" method="POST" action="/your_profile" accept-charset="UTF-8">
            <input type="hidden" name="id" id="id" value="{{ .ID }}">
            <div class="row row--gutters">
              <div class="col">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" value="{{ .Email }}" placeholder="Your email">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" value="" placeholder="Your password">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="confirm_password">Confirm Password: </label>
                <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Your password again">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="fullname">Fullname: </label>
                <input type="text" name="fullname" id="fullname" value="{{ .Fullname }}" placeholder="Your fullname">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="address">Address: </label>
                <input type="text" name="address" id="address" value="{{ .Address }}" placeholder="Your address">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="telephone">Telephone: </label>
                <input type="text" name="telephone" id="telephone" value="{{ .Telephone }}" placeholder="999-999-9999">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters row--between">
              <div class="col col--1of3">
                <input type="submit" value="Save">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }} {{ end }}
