{{ define "reset_password" }}
{{ template "header" . }}

<div class="container">
  <div class="row row--center row--alignCenter Login">
    <div class="col sm-col--1of2">
      <div class="row">
        <div class="col Forgo_Email__title">
          <h1>New Password</h1>
        </div>
        <div class="col Forgo_Email__form">
          <form action="/reset_password" method="POST" accept-charset="UTF-8">
            <div class="row row--gutters">
              <div class="col">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" value="" placeholder="Your email">
              </div>
            </div>
            <div class="row row--gutters">
                <div class="col">
                  <label for="password">Password: </label>
                  <input type="password" name="password" id="password" value="" placeholder="Your password">
                </div>
              </div>
              <div class="row row--gutters">
                <div class="col">
                  <label for="confirm_password">Confirm Password: </label>
                  <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Confirm Password">
                </div>
              </div>
          </form>
          <div class="row row--gutters row--center">
              <div class="col col--1of3">
                <input type="submit" value="Submit">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
{{ end }}
