{{ define "signup" }}
{{ template "header" . }}

<div class="container">
  <div class="row row--center row--alignCenter Login">
    <div class="col sm-col--1of2">
      <div class="row">
        <div class="col error-msg"></div>
        <div class="col success-msg"></div>
        <div class="col Signup__title">
          <h1>Signup</h1>
        </div>
        <div class="col Login__form">
          <form class="SignupForm" action="/signup" method="POST" accept-charset="UTF-8">
            <div class="row row--gutters">
              <div class="col">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" value="" placeholder="Your email">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" value="" placeholder="Your password">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <label for="confirm_password">Confirm Password: </label>
                <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Confirm Password">
                <span class="error-text"></span>
              </div>
            </div>
            <div class="row row--gutters">
              <div class="col">
                <a href="#">Forgot email?</a>
              </div>
            </div>
            <div class="row row--gutters row--between">
              <div class="col col--1of3">
                <input type="submit" value="Signup">
              </div>
              <div class="col col--1of3">
                <a href="/">Login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
{{ end }}
