@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900');
@import 'normalize';
@import 'variables';
@import 'mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: 'Titillium Web', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

@import 'grid';

.container {
  max-width: $md-width;
  margin: 0 auto;

  @include modifier('fluid') {
    max-width: 100%;
  }
}

.error-field {
  color: $error;
}
.error-msg {
  display: none;
  background-color: $error;
  padding: 10px;
}
.success-msg {
  display: none;
  background-color: $success;
  padding: 10px;
}

@import 'modules/login.scss';
